In [2]:
%run "C:\Users\kassenov_r\suburban-schools-regression-analysis\funcs\internal_exam.ipynb"

In [29]:
# mon[(mon['school'] == 'КГУ «Общеобразовательная школа № 5 города Ақсай» Бурлинского района ЗКО') & (mon['test'] == 'RS0423')]['name'].nunique()

142

In [24]:
# mon[mon['name'] == 'Амангелді Асылай Ахмедьярқызы']

,test,school,name,grade,subject,percent
2717,RS1122,КГУ «Общеобразовательная школа № 5 города Ақса...,Амангелді Асылай Ахмедьярқызы,4,4KZFL,45.0
2718,RS1122,КГУ «Общеобразовательная школа № 5 города Ақса...,Амангелді Асылай Ахмедьярқызы,4,4MATH,70.0
2719,RS1122,КГУ «Общеобразовательная школа № 5 города Ақса...,Амангелді Асылай Ахмедьярқызы,4,4SCIE,45.0